body {
  background-color: #000639;
}

.container {
  margin: 40px auto;
  width: 90%;
}
@media (min-width: 480px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 600px) {
  .container {
    width: 65%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 50%;
  }
}
@media (min-width: 1080px) {
  .container {
    width: 500px;
  }
}

.form {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #ffffff;
}
.form__line {
  background: #7ab55c;
  height: 2px;
  width: 1.5rem;
  margin-bottom: 50px;
}
.form__header {
  font-size: 24px;
}
.form__comment {
  font-size: 16px;
  margin: 20px 0px;
}
.form__success-msg h1 {
  font-size: 16px;
}
.form__input {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  font-size: 16px;
}
@media (min-width: 480px) {
  .form__input {
    flex-direction: row;
    justify-content: space-between;
  }
}
.form__input__email {
  padding: 12px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}
@media (min-width: 480px) {
  .form__input__email {
    width: 52%;
  }
}
.form__input__interest {
  outline: none;
  padding: 12px 10px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  color: #7b7b7b;
}
@media (min-width: 480px) {
  .form__input__interest {
    width: 40%;
    margin-top: 0;
  }
}
.form__error {
  color: #c23628;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 0;
  height: 15px;
}

.button {
  margin: 10px 0;
  padding: 14px 10px;
  color: white;
  background-color: #5c6ac4;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  outline: none;
}
.button:active {
  background-color: #515ca5;
}
.button--full {
  width: 100%;
}
