body {
   background-color: #000639;
}

// Screen size variables
$extra-small: 480px;
$small: 600px;
$medium: 768px;
$large: 1080px;

.container {
   margin: 40px auto;
   width: 90%;
   
   @media(min-width: $extra-small) {
      width: 80%;
   }
   
   @media(min-width: $small) {
      width: 65%;
   }
   
   @media(min-width: $medium) {
      width: 50%;
   }
   
   @media (min-width: $large) {
      width: 500px;
   }
   
}

.form {
   font-family: "Helvetica", "Arial", sans-serif;
   color: #ffffff;

   &__line {
      background: #7ab55c;
      height: 2px;
      width: 1.5rem;
      margin-bottom: 50px;
   }

   &__header {
      font-size: 24px;
   }

   &__comment {
      font-size: 16px;
      margin: 20px 0px;
   }

   &__success-msg {
      h1 {
         font-size: 16px;
      }
   }

   &__input {
      display: flex;
      flex-direction: column;
      box-sizing: content-box;
      font-size: 16px;
      
      @media (min-width: $extra-small) {
         flex-direction: row;
         justify-content: space-between;
      }

      &__email {
         padding: 12px 10px;
         border-radius: 5px;
         border: none;
         outline: none;
         
         @media(min-width: $extra-small) {
            width: 52%;
         }
      }

      &__interest {
         outline: none;
         padding: 12px 10px;
         border: none;
         margin-top: 10px;
         border-radius: 5px;
         color: #7b7b7b;
         
         @media (min-width: $extra-small) {
            width: 40%;
            margin-top: 0;
         }
      }
   }

   &__error {
      color: #c23628;
      font-weight: bold;
      font-size: 12px;
      padding: 5px 0;
      height: 15px;
   }
}

.button {
   margin: 10px 0;
   padding: 14px 10px;
   color: white;
   background-color: #5c6ac4;
   cursor: pointer;
   border: none;
   font-size: 16px;
   font-weight: 600;
   border-radius: 5px;
   outline: none;
   
   &:active {
      background-color: #515ca5;
   }

   &--full {
      width: 100%;
   }
}
